header{display: flex;}
h1{color: #ff8800;}
body{background-color: #fff59c;
padding: 20px;}
p{font-family: "Indie Flower";
font-size: 24px;
line-height: 1;
text-align: center}
header{background-color: #ffffff;}

